<p>
    <strong>Title:</strong>
    <%= @reading.title %>
</p>

<p>
    <strong>Number:</strong>
    <%= @reading.blood_sugar %> mg/dl
</p>

<p>
  <strong>User: </strong>
  <%= @reading.user %>
</p>
<%= link_to 'Edit', [:edit, @reading.user, @reading] %> |
<%= link_to 'Back', user_readings_path %>